.nav__bar {
  background-color: #343a40;
  display: grid;
  grid-template-columns: 1fr 820px repeat(4, 100px) 1fr;
}

.nav__link {
  color: white;
  text-decoration: none;
  line-height: 56px;

  &:first-child {
    grid-column-start: 2;
  }

  &:not(:first-child) {
    text-align: center;
  }
}
